.simple-crosstab__header {
  font-family: 'SourceCodePro-Bold', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;    
  font-weight: bold;
}

.simple-crosstab__row--summary-row-grand {
  background-color: lightyellow;
}

.simple-crosstab__header--summary-column-grand, 
.simple-crosstab__cell--summary-column-grand {
  background-color: lightyellow;
}


.simple-crosstab__header--selected, 
.simple-crosstab__row--selected, 
.simple-crosstab__cell--selected {
    background-color: black;
    color: white;
}
.simple-crosstab__header--selected-indirect, 
.simple-crosstab__row--selected-indirect, 
.simple-crosstab__cell--selected-indirect {
    background-color: darkgray;
    color: white;
}

.simple-crosstab__breadcrumbs ul {
    list-style-type: none;
    padding-left: 0;
}

.simple-crosstab__breadcrumb {
    display: inline-block;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    cursor: pointer;
}

.simple-crosstab__breadcrumb--current {
    background-color: black;
    color: white;
    cursor: none;
}

.simple-crosstab__breadcrumb--type-followed {
    background-color: black;
    color: white;
}

.simple-crosstab__breadcrumb-separator {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.simple-crosstab__sort-choice-dir {
    padding-left: 0.5rem;
}
